<div ng-repeat="page in cmslist track by $index">

	{{!-- page --}}
	<div ng-if="page.page && !page.hidden" ng-controller="menupage_controller">
		<div class="menupage" data-cmspage="\{{page.page_slug}}" ng-class="{'active': cmslist.active}" ng-click="pageclick()"><a href="#!/cms\{{page.fullpath}}"><i class="fa fa-file-o" ng-class="{'fa-file': cmslist.active}"></i>\{{page.name}}</a></div>
	</div>

	{{!-- folder --}}
	<div ng-if="page.folder" ng-controller="folder_controller">
		<div class="menufolder" data-cmsfolder="\{{page.folder_slug}}" ng-click="folderclick()"><i class="fa fa-folder-o" ng-class="{'fa-folder-open-o': cmslist.open}"></i>\{{page.name}}</div>
		<div class="inner-folder" ng-class="{'open': cmslist.open}">
			<div class="addpage-button" ng-click="add_page()" ng-if="page.generator"><i class="fa fa-plus-square-o"></i>Add page</div>
			<div ng-include="'/admin/layout/pagelist/index.html'"></div>
		</div>
	</div>

</div>